:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0b0b64;
    --primary-color: #049604;
    --secondary-color: #0499e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #66f366;
}
